{% extends "base.html" %}

{% block contenido %}
<Section id="AcercaDe">
    <header class="text-center py-5">
        <h1 class="display-5 fw-bold">Acerca de OnlyFlans</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. periam impedit eius.</p>
    </header>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card text-center mb-3" style="width: 100%; background-color: #ffffff;border: 0;">
                <div class="card-head py-3 display-5"><i class="fa-solid fa-camera"></i></div>
                <div class="card-body">
                    <h5 class="card-title pb-3 fw-bold fs-4">Captura la experiencia</h5>
                    <p class="card-text fw-regular">Some quick example text to build on the card title and make up
                        the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center mb-3" style="width: 100%; background-color: #ffffff;border: 0;">
                <div class="card-head py-3 display-5"><i class="fa-solid fa-bullhorn"></i></div>
                <div class="card-body">
                    <h5 class="card-title pb-3 fw-bold fs-4">Crítica Culinaria</h5>
                    <p class="card-text fw-regular">Some quick example text to build on the card title and make up
                        the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center mb-3" style="width: 100%; background-color: #ffffff;border: 0;">
                <div class="card-head py-3 display-5"><i class="fa-regular fa-map"></i></div>
                <div class="card-body">
                    <h5 class="card-title pb-3 fw-bold fs-4">Sabores del mundo</h5>
                    <p class="card-text fw-regular">Some quick example text to build on the card title and make up
                        the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</Section>
{% endblock%}
