{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<section id="Menu" style="background-color: rgb(74, 209, 243); color: #ffffff;">

    <h1 class="display-5 fw-bold text-center py-5">Nuestros Sabores</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 pb-5">
        {% csrf_token %}
        {% for producto in productos  %}
        <div class="col">
            <div class="card h-100" style="max-width: 20rem;">
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold py-2">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <button type="button" class="btn btn-outline-primary"
                        style="border-color: rgb(74, 209, 243); color:#0F0F0F; width: 99px;height: 40px; margin-right: 23px;">Ver
                        más</button>
                </div>
            </div>          
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}