{% extends "base.html" %}
{% load static %}

{% block contenido %}
<section id="Bienvenida">
    <div id="intro-example2" class="p-5 text-center bg-image" style="background-image: url('{% static 'img/bienvenida.jpg' %}'); background-size: contain; background-repeat: no-repeat;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Bienvenido Gerardo</h1>
                    <h2 class="mb-4">OnlyFlans</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
